<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Opportuntiy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-5">
        <h3> Add Opportuntiy</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/opp/createOpportunity}" th:object="${opportunity}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Description</label> 
                                <input type="text" th:field="*{oppDescription}" class="form-control" 
                                            id="oppDescription" placeholder="Description" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Location</label> 
                                <input type="text" th:field="*{oppLocation}" class="form-control" 
                                            id="oppLocation" placeholder="Location" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Number Needed</label> 
                                <input type="text" th:field="*{oppNumberNeeded}" class="form-control" 
                                            id="oppNumberNeeded" placeholder="Number Needed" />
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>