<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Opportunities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${opportunities}" class="container my-5">
            <p class="my-5">
                <a href="/" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Find Opportunity </i></a>
            </p>
            <p class="my-5">
                <a href="/opp/edit" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Create Opportunity </i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Number Needed</th>
                                <th>Sign-Up</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="opportunity : ${opportunities}">
                                <td th:text="${opportunity.Description}"></td>
                                <td th:text="${opportunity.Location}"></td>
                                <td th:text="${opportunity.NumberNeeded}"></td>
                                <td>
                                    <!--<a th:href="@{/vol/edit/{id}(id=${opportunity.id})}" class="btn btn-primary">-->
                                    <a th:href="@{/vol/edit}" class="btn btn-primary">
                                        <i class="fas fa-calendar-check ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/opp/edit/{id}(id=${opportunity.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/opp/delete/{id}(id=${opportunity.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>