<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Organizations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${organizations}" class="container my-5">
            <p class="my-5">
                <a href="/org/edit" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add Organization </i></a>
            </p>
            <p class="my-5">
                <a href="/" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> VolunteeRocks </i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Volunteers Needed</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="organization : ${organizations}">
                                <td th:text="${organization.title}"></td>
                                <td th:text="${organization.description}"></td>
                                <td th:text="${organization.loc}"></td>
                                <td th:text="${organization.vols}"></td>
                                <!--<td th:text="org_title"></td>
                                <td th:text="org_description"></td>
                                <td th:text="org_location"></td>
                                <td th:text="nuum_volunteers"></td>-->
                                <td>
                                    <a th:href="@{/org/edit/{id}(id=${organization.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/org/delete/{id}(id=${organization.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>